:root{
    --primaryColor: #00eaff;
    --primaryHover: hsl(185, 92%, 41%);
    --secondaryColor: rgb(150, 162, 188);
    --paragraphColor: rgb(127, 127, 175);
    --BgColor: #031a30;
    --formColor: rgb(2, 15, 29);
    --projectCardColor: #072340;
    --textColor: #dae4fb;
    --headerHeight: 3rem;
}

.projects{
    .dificultyFilter{
        gap: 1.5rem;
        margin: 2rem 0;
        button{
            padding: 5px 20px;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 1.5px;
            background-color: transparent;
            color: var(--textColor);
            border: 2px solid var(--primaryColor);
            border-radius: 5px;
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                background-color: var(--primaryHover);
            }
        }
        .active{
            background-color: var(--primaryHover);
        }
    }

    .projectContainer{
        margin-top: 1rem;
        justify-content: space-between;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;

        .singleProject{
            display: grid;
            gap: 0.5rem;
            padding: 1.5rem 1rem;
            border-radius: 10px;
            height: 100%;
            background: var(--projectCardColor);

            .externalLinks{
                width: 100%;
                justify-content: space-between;

                .goToPageLink, .githubIcon{
                    a{
                        color: var(--primaryColor);
                        &:hover{
                            color: var(--primaryHover);
                        }
                    }
                }
                .goToPageLink{
                    a{
                        text-decoration: underline;
                        font-size: larger;
                    }
                    .active{
                        display:none;
                    }
                }
                
                
            }

            &:hover{
                transform: translateY(-7px);
                border-bottom: 2px solid var(--primaryColor);
            }

            .imgDiv{
                height: 200px;
                width: auto;
                border-radius: 5px;
                overflow: hidden;
                cursor: pointer;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }

            .projectTitle{
                display: flex;
                font-weight: 600;
                color: var(--textColor);
                .easy{
                    color: green;
                    text-transform: uppercase;
                }
                .medium{
                    color: yellow;
                    text-transform: uppercase;
                }
                .hard{
                    color: red;
                    text-transform: uppercase;
                }
            }

            .desc{
                font-weight: 600;
                color: var(--secondaryColor);
            }
            .features{
                font-weight: 400;
                font-size: 18px;
            }
            .skills{
                font-weight: 400;
                font-size: 18px;
                margin: 0;
            }

            .technologies{
                margin-top: 1rem;
                gap: .5rem;
                justify-content: flex-end;
                small{
                    color: var(--secondaryColor);
                    font-weight: 600;
                    font-size: 18px;
                    &:hover{
                        background-color: var(--primaryColor);
                        border-radius: 5px;
                        padding: 0 6px;
                    }

                }
            }
            
        }
    }
}

//MEDIA QUERIES
@media screen and (min-width:600px){ 
    .projects{
        .projectContainer{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (min-width:769px){ 
    .projects{
        width: 70%;
        margin: auto;
        .projectContainer{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (min-width:1150px){ 
    .projects{
        .projectContainer{
            grid-template-columns: repeat(3, 1fr);

            .singleProject{
                .imgDiv{
                    height: 270px;
                }
                .desc{
                    font-size: 17px;
                }
                .technologies{
                    small{ 
                        font-size: 20px;
                    }
                }
                
            }
        }
    }
}

@media screen and (min-width:1240px){ 
    .projects{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}